<div>
  <h1>Angular Coronavirus Canlı takip</h1>
  <label>Ülke: </label>
  <select (change)="getCountry($event.target.value)">
    <option *ngFor="let country of countries" value="{{ country.Slug }}">
      {{ country.Country }}
    </option></select
  ><br /><br />
  <button (click)="getCoronaData()">Coronavirus Verilerini Getir</button>
  <h1 style="color: yellow">Toplam Vaka: {{ confirmed }}</h1>
  <h1 style="color: orange">İyileşenler: {{ recovered }}</h1>
  <h1 style="color: red">Toplam Ölüm: {{ deaths }}</h1>
</div>
